- var resources = ''
doctype 5
html
  head
    if locals.title 
      title= title
    else
      title= "N-Gon Games"
    link(rel='stylesheet', href= resources + '/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    block head
  body
    include includes/header
    #content
      block content
    include includes/footer