size(w,h)
  width w 
  height h

background-size(w,h)
  background-size:w h;
  background-repeat:no-repeat;

body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color #00B7F0

input, textarea
  display block
  margin-bottom 15px

textarea
  size 300px 200px

.game-thumbnail
  size 64px 64px
  background-size 64px 64px

.game-item, .game-thumbnail, .game-text
  display inline-block

.game-text
  vertical-align top
  size 184px 64px

.game-title
  font-size 16px
  font-weight bold

.game-description
  font-size 12px
  font-style oblique
  text-align justify
