extends ../layout
block content
  form(action="", method="POST", enctype="multipart/form-data")

      label(for='name') Game Name (50 char or less)
      input(type='text', name='name', id='name', maxLength='50')

      label(for='zip') Game .zip File
      input(type='file', name='zip', id='zip')
      
      label(for='thumbnail') Game Thumbnail Image 64x64
      input(type='file', name='thumbnail', id='thumbnail')

      label(for='banner') Game Banner Image 500x400
      input(type='file', name='banner', id='banner')

      label(for='description') Game Description (140 char or less)
      textarea(name='description', id='description', maxLength='140')

      button(type='submit') Create